.secoes {
   background: #FFF8DC;
   background-color: #FFF8DC;

   bar.bar-custom, bar.bar-custom .bar.bar-positive, .bar-custom .nav-bar-block ion-header-bar {
   	border-color: #FF7148;
   	background-color: #FF7148;
   	background-image: linear-gradient(0deg, #FF7148, #FF7148 50%, transparent 50%);
   }
}

.md button {
  text-transform: capitalize;
}
